body {
    font-family: sans-serif;
    font-size: 16px;
  }
  .navbar {
    margin: 0;
    max-width: 100%;
    background-color: #fff;
    color: white;
    /* padding: 10px 10px; */
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.search-bar {
    display: flex;
    align-items: center;
   
}

input[type="text"] {
    padding: 8px;
    margin-left: 15px;
    margin-right: 10px;
    /* border: none; */
    /* border: 1px solid #fff; */
    border-radius: 4px;
}
.search-icon{
    font-size: 20px;
}
.Next-page{
    font-size: 20px;
    padding: 20px;
    margin-left: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 120px;
    cursor: pointer;
}
.Next-page:hover{
    color: aqua;
}
.dropdown {
  display: inline-block;
}
.dropbtn img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top:10px ;
 
}

.dropdown-List {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  top: 78px;
  right: 20px;
}
.dropdown-List a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown:hover .dropdown-List {
  display: block;
}
  .container {
    width: 1100px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .header {
    margin-top: 10px;
    background-color: #ffffff;
    padding: 10px;
  }
  
  .header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px 0 0 5px;
  }
  
  .header h1 {
    font-size: 30px;
    margin-top: 80px;
  }
  
  .header p {
    font-size: 14px;
  }
  
  .content {
    padding: 20px;
    /* margin-top: 10px; */
  }
  
  .status {
    margin-bottom: 20px;
  }
  
  .status p {
    font-size: 18px;
  }
  
  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .photos img {
    width: 200px;
    /* margin: 5px; */
  }
  
  .about {
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 16px;
  }
  
  .footer {
    background-color: #ffffff;
    padding: 10px;
  }
  
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer li {
    display: inline-block;
    margin-right: 20px;
  }
  .friend{
    width: 95%;
    height: 210px;
    border-radius: 10px;
   margin-left: 30px;
  }
  .add-friend img{
    width: 70px;
    height: 70px;
    
   
  }
  .content .intro{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 10px;
    width: 400px;
  }
  .content .footer{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 10px;
    margin-left: 20px;
    width: 600px;
  }
  .friend img{
    width: 120px;
    height: 100px;
    border-radius: 10px;
    padding: 5px 0 0 5px;
  }