@model SocialNetworking.Models.UserViewModel



<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>


    <h1>@Model.FirstName</h1>
    <h1>@Model.LastName</h1>
    <h1>@Model.PhoneNumber</h1>


    <!-- Thêm các trường khác tùy thuộc vào nhu cầu của bạn -->
</body>
</html>