@model SocialNetworking.Models.UserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Gender</h1>
<h1>@Model.Username</h1>
<h1>@Model.Email</h1>
<h1>@Model.PhoneNumber</h1>
